*{
  margin: 0;
  padding: 0;
}
.quizForm{
  min-height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginForm{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginRow{
  margin-top: 30px;
}
.auth{
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.authButtons{
  display: flex;
    justify-content: center;
}
.quizList{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.nav-item{
  color: white!important;
}